@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --bg: #fbfcfe;
  --tx: #000000;
  --ct: #ffffff;
  --cd: #eeeeee;
  --vd: #3498db;
  --in: #eaeaea;
  --it: #777777;
  --sh: rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
}

body {
  font-family    : "Mulish", sans-serif;
  display        : flex;
  align-items    : center;
  justify-content: center;
  height         : 100vh;
  overflow       : hidden;
  margin         : 0;

  background-color: var(--bg);
}

.container {
  background-color: var(--ct);
  border          : 3px var(--tx) solid;
  border-radius   : 10px;
  padding         : 30px;
  max-width       : 1000px;
  text-align      : center;
}

.code-container {
  display        : flex;
  align-items    : center;
  justify-content: center;
  margin         : 40px 0;
}

.code {
  border-radius  : 5px;
  font-size      : 75px;
  height         : 120px;
  width          : 100px;
  border         : 1px solid var(--cd);
  margin         : 1%;
  text-align     : center;
  font-weight    : 300;
  -moz-appearance: textfield;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

.code:valid {
  border-color: var(--vd);
  box-shadow  : 0 10px 10px -5px var(--sh);
}

.info {
  background-color: var(--in);
  display         : inline-block;
  padding         : 10px;
  line-height     : 20px;
  max-width       : 400px;
  color           : var(--it);
  border-radius   : 5px;
}

@media(max-width: 600px){
  .code-container{
    flex-wrap: wrap;
  }

  .code{
    font-size: 60px;
    height: 80px;
    max-width: 70px;
  }
}