/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Poppins);

:root {
  --background  : #2a2a72;
  --card        : #4c2885;
  --search      : #bbbbbb;
  --info        : #eeeeee;
  --text        : #ffffff;
  --shadow      : rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(154, 160, 185, 0.05);
}

* {
  box-sizing: border-box;
}

body {
  font-family    : 'Poppins', sans-serif;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  height         : 100vh;
  overflow       : hidden;
  margin         : 0;

  background-color: var(--background);
  color           : var(--text);
}

.user-form {
  width    : 100%;
  max-width: 700px;
}

.user-form input {
  display      : block;
  width        : 100%;
  border-radius: 10px;
  padding      : 1rem;
  margin-bottom: 2rem;

  font-family: inherit;
  font-size  : 1rem;

  background-color: var(--card);
  color           : var(--text);
  border          : none;
  box-shadow      : 0 5px 10px var(--shadow-color), 0 15px 40px var(--shadow);
}

.user-form input::placeholder {
  color: var(--search);
}

.user-form input:focus {
  outline: none;
}

.card {
  display      : flex;
  max-width    : 800px;
  border-radius: 20px;
  padding      : 3rem;
  margin       : 0 1.5rem;

  background-color: var(--card);
  box-shadow      : 0 5px 10px var(--shadow-color), 0 15px 40px var(--shadow);
}

.avatar {
  border       : 10px solid var(--background);
  border-radius: 50%;

  height: 150px;
  width : 150px;
}

.user-info {
  margin-left: 2rem;
  color      : var(--info);
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display        : flex;
  justify-content: space-between;
  padding        : 0;
  max-width      : 400px;

  list-style-type: none;
}

.user-info ul li {
  display    : flex;
  align-items: center;
}

.user-info ul li strong {
  font-size  : 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  display      : inline-block;
  font-size    : 0.7rem;
  padding      : 0.25rem 0.5rem;
  margin-right : 0.5rem;
  margin-bottom: 0.5rem;

  background-color: var(--background);
  color           : var(--text);
  text-decoration : none;
}

@media(max-width: 500px) {
  .card {
    flex-direction: column;
    align-items   : center;
  }

  .user-form {
    max-width: 400px;
  }
}