/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

* {
  box-sizing: border-box;
}

body {
  font-family    : 'Ubuntu', sans-serif;
  display        : flex;
  align-items    : center;
  justify-content: center;
  height         : 100vh;
  overflow       : hidden;
  margin         : 0;
}

.bg{
  background: url('https://pixabay.com/get/g86ee7ecba93be62e5e184506ca64cdb997c8973163ad826291491e001eedd525986af9f0a1cbd048aba57073e3b1f404.jpg') no-repeat center center/cover;
  filter: blur(40px);

  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Just in case the blurry make borders */
  /* width: calc(100vw + 60px);
  height: calc(100vw + 60px); */
}

.loading-text{
  font-size: 50px;
  color: black;
}