/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --button     : #434da0;
  --container  : #ffffff;
  --background : #50c1e9;
  --joke-text  : #000000;
  --title-text : #2e3959;
  --button-text: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family    : "Roboto", sans-serif;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  height         : 100vh;
  overflow       : hidden;
  margin         : 0;
  padding        : 20px;

  background-color: var(--background);
}

h3 {
  margin        : 0;
  color         : var(--title-text);
  letter-spacing: 2px;
}

.container {
  background-color: var(--container);

  box-shadow   : 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  text-align: center;
  padding   : 50px 20px;
  max-width : 100%;
  width     : 800px;
}

.joke {
  font-size     : 30px;
  letter-spacing: 1px;
  line-height   : 40px;

  margin   : 50px auto;
  max-width: 600px;
}

.btn {
  background-color: var(--button);
  color           : var(--button-text);

  border       : 0;
  border-radius: 10px;
  padding      : 14px 40px;
  box-shadow   : 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

  font-size: 16px;
  cursor   : pointer;
}

.btn:active{
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}