/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --background: #762efb;
  --text      : #ffffff;
  --shadow    : rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
}

body {
  font-family    : "Roboto", sans-serif;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  height         : 100vh;
  overflow       : hidden;
  margin         : 0;

  background-color: var(--background);
  color           : var(--text);
}

div {
  position : absolute;
  font-size: 18px;
  padding  : 10px 20px;
  bottom   : 20px;

  background: var(--shadow);
}

input {
  text-align      : center;
  font-size       : 18px;
  width           : 50px;
  padding         : 5px;

  background-color: var(--background);

  border          : none;
  outline         : none;
}