/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --background: #dab9fa;
  --box       : #705970;
  --text      : #cf9989;
}

* {
  box-sizing: border-box;
}

body {
  font-family    : "Roboto", sans-serif;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  margin         : 0;

  background-color: var(--background);
  color           : var(--box);

  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: var(--box);
  color           : var(--text);

  display        : flex;
  align-items    : center;
  justify-content: center;

  width : 400px;
  height: 200px;
  margin: 10px;

  border-radius   : 10px;
  box-shadow      : 2px 4px 5px rgba(0, 0, 0, 0.3);
  transition      : transform 0.4s ease;
  transform       : translateX(200%);
}

.box:nth-last-of-type(even) {
  transform       : translateX(-200%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}

@media screen and (min-width: 1024px) {
  .box {
    transform: translateX(400%);
  }

  /* .box:nth-last-of-type(even) {
    transform: translateX(-400%);
  } */
}