/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --background: #af623d;
  --bar       : #390c1b;
  --buttons   : #ffcb3f;
  --dark      : #090708;
  --light     : #f9f5ec;
}

* {
  box-sizing: border-box;
}

body {
  font-family    : "Roboto", sans-serif;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  height         : 100vh;
  margin         : 0;

  background-color: var(--background);
}

canvas {
  border          : 2px solid var(--bar);
  background-color: var(--light);
}

.toolbar {
  background-color: var(--bar);
  border          : 1px solid var(--bar);

  display: flex;
  padding: 1rem;
  width  : 804px;
}

.toolbar>* {
  background-color: var(--buttons);
  border          : none;
  cursor          : pointer;

  display        : inline-flex;
  align-items    : center;
  justify-content: center;
  height         : 50px;
  width          : 50px;
  margin         : .25rem;
  padding        : .25rem;

  font-size: 2rem;
}

.toolbar>*:last-child {
  margin-left: auto;
}